.btn {
  padding: .375rem .75rem;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  display: flex;

  transition: background-color .15s ease-in-out;

  & .icon + span {
    margin-left: .5rem;
    font-weight: 600;
  }

  &:disabled {
    filter: opacity(.5);
    pointer-events: none;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-text);

  & > .icon {
    filter: var(--filter-primary-text);
  }

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.btn-primary-dark {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-dark-text);

  & > .icon {
    filter: var(--filter-primary-dark-text);
  }

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.btn-dark {
  background-color: var(--color-background-dark);
  color: var(--color-text);

  & > .icon {
    filter: var(--filter-text);
  }

  &:hover {
    background-color: var(--color-primary-light);
  }
}
