input[type=text], select, textarea {
  padding: .375rem .75rem;

  font-weight: 400;
  font-size: 1rem;

  border: none;
  border-radius: 5px;

  appearance: none;
  resize: none;

  background-color: var(--color-background-dark);
  color: var(--color-text);

  width: 100%;

  &:disabled {
    filter: opacity(.5);
    pointer-events: none;
  }
}

input[type=radio] {
  width: .9rem;
  height: .9rem;

  margin-top: 0;

  border-radius: 50%;
  appearance: none;

  print-color-adjust: exact;

  background-color: white;

  &:checked {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='1.75' fill='%23fff'/%3e%3c/svg%3e");
  }
}

select {
  padding: .375rem .75rem;
  cursor: pointer;
}
