// TODO: remove everything not needed

:root {
  --color-primary-500: #F50057;
  --color-primary-600: #D2005F;
  --color-primary-700: #B00061;
  --color-primary-800: #8E005C;
  --color-header: #0359A2;
  --color-danger: #D02E24;
  --color-warning: #CD9101;
  --color-success: #7FB909;
  --color-info: #0477C2;
  --color-link: #64b5f6;
}

html[data-theme="light"] {
  --color-background: #e4e9f2;
  --color-background-card: #ffffff;
  --color-text: rgba(0, 0, 0, 0.87);
  --color-spinner: rgba(0, 0, 0, 0.54);
}

html[data-theme="dark"] {
  --color-background: #151a30;
  --color-background-card: #222b45;
  --color-text: #ffffff;
  --color-spinner: rgba(255, 255, 255, 0.7),
}
