:root {
  --color-background: #ffffff;
  --color-background-2: #f7f7f7;
  --color-text: #343a40;
}

html[data-theme="dark"] {
  --color-background: #343a40;
  --color-background-2: #2a2e33;
  --color-text: #f8f9fa;
}
