@import "util";
@import "components";

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--color-background);
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

main {
  flex-grow: 1;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  color: var(--color-primary-light-text);
  background: var(--color-primary-light);
}

th {
  text-align: left;
}
