@use "sass:map";
@import "../styles/colors";

// use roboto font
* {
  font-family: 'Roboto', sans-serif;
}

html, body, #app {
  height: 100vh;
  overflow: hidden;
}

button {
  border: none;
  border-radius: 2.5px;
  padding: .5em;
  cursor: pointer;

  & > .icon {
    margin-right: .25em;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: map.get($colors, "secondary.main");
  color: map.get($colors, "secondary.contrast");

  &:hover {
    background-color: map.get($colors, "secondary.dark");
  }

  &:disabled {
    background-color: map.get($colors, "secondary.light");
  }
}

.text-error {
  color: map.get($colors, "error.main");
}

.is-unselectable {
  user-select: none;
}
