@import "colors";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  background-color: var(--color-background);
}

h1 {
  margin: 0;
}



div {
  // noinspection CssUnknownProperty
  scrollbar-color: var(--color-primary) rgba(0, 0, 0, 0);
  // noinspection CssUnknownProperty
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 7.5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::selection {
  color: #2a2e33;
  background: var(--color-primary-light);
}
