@import "colors";
@import "scroll";
@import "reset";
@import "grid";

.overflow-text {
  overflow-wrap: anywhere;
  user-select: text;
  text-overflow: ellipsis;
  overflow: hidden;
}

.active {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-primary-text) !important;
}

.is-unselectable {
  user-select: none;
}
